@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script:wght@700&family=Indie+Flower&family=Patrick+Hand&display=swap');

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    height: 200px;
    width: 200px;
    padding-top: 30%;
    margin-bottom: 20px;
}
h1{
    color: #6c5ce7;
    font-family: 'Allison', cursive;
    font-size: 50px;
    margin-bottom: 0px;
}
h3{
    color: #fd79a8;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 30px;
}
h4{
    color: #FC427B;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    margin-bottom: 40px;
}
p{
    color: #f78fb3;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    margin-bottom: 120px;
}